DATABASE_URL=""
DIRECT_URL=""

# BetterAuth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
BETTER_AUTH_TRUSTED_ORIGINS=""

# Resend Email Service
RESEND_API_KEY=""
RESEND_FROM_EMAIL="Zeus Capital <onboarding@resend.dev>"

# Coingecko
COINGECKO_API_KEY=""

# Imagekit
IMAGE_KIT_URL_ENDPOINT=""
IMAGE_KIT_PUBLIC_KEY=""
IMAGE_KIT_PRIVATE_KEY=""

# Public Application URL
NEXT_PUBLIC_APP_URL=""
NEXT_PUBLIC_SOCKET_URL=""
CORS_ORIGIN=""