DATABASE_URL=""
DIRECT_URL=""

# BetterAuth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# NodeMailer
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_USER_NAME=""

# Coingecko
COINGECKO_API_KEY=""

# Imagekit
IMAGE_KIT_URL_ENDPOINT=""
IMAGE_KIT_PUBLIC_KEY=""
IMAGE_KIT_PRIVATE_KEY=""